html { background-color: #303030; color: #f0f0f0; font-family: Arial, sans-serif;}
a { text-decoration: none; color: #fffb00; }
table { width: 50%; margin: auto; border-collapse: collapse; color: #000000; }
th, td { border: 1px solid black; padding: 8px; text-align: center; }
th { background-color: #b9b9b9; }
tbody { color: #fff; background-color: #8c8c8c; }
h2 { text-align: center; }
button { display: block; margin: 20px auto; padding: 10px 20px; font-size: 16px; cursor: pointer;}
form { display: block; margin: auto; text-align: center; }
label { font-size: 30px; }
input { width: 30%; font-size: 20px; text-align: center; padding: 20px; }
.test-text { color: red; font-size: 40px; }