<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- fazer o texto ir ficar rodando a tela inteira -->
    <marquee behavior="scroll" direction="left" class="test-text">Go Diego Go!</marquee>
    <br><br><br>
    <h1>Você pode testar inserir um query param chamado "paramTest" com algum valor para ser printado no console!   </h1>
    <br><br><br>
    <h2><a href="/login">LOGIN HERE!</a></h2>
</body>
</html>