<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar usuário</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        let id = window.location.href.split('/').pop();

        document.addEventListener('DOMContentLoaded', (event) => {
            getUser(id)
        });

        document.addEventListener('submit', function(event) {
            event.preventDefault();
            updateUser(id); 
        });
    </script>
</head>
<body>
    <h2>Atualizar usuário</h2>

    <form>
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="idade">Idade:</label><br>
        <input type="number" id="idade" name="idade" required><br><br>
        <input type="submit" value="Atualizar">
    </form>
    <button onclick="window.location.href='/'">Início</button>
</body>
</html>
