<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <style>
        table { width: 50%; margin: auto; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        th { background-color: #ddd; }
    </style>

    <script>
        // Função para popular a tabela com os dados recebidos
        function populateTable(data) {
            const userRows = document.getElementById('userRows');
            userRows.innerHTML = ''; // Limpa as linhas existentes
            data.forEach(user => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${user.ID}</td>
                <td>${user.Nome}</td>
                <td>${user.Idade}</td>
                `;
                userRows.appendChild(row);
            })
        }

        function getUsers() {
            const response = fetch('/listar')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    populateTable(data);
                })  
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }
    
        document.addEventListener('DOMContentLoaded', (event) => {
            getUsers(); // Chama a função para buscar os usuários quando o DOM estiver carregado
        });
    </script>
</head>
<body>
    <h2 style="text-align: center;">Lista de Usuários</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        <tbody id="userRows">
            <!-- As linhas da tabela serão preenchidas aqui pelo JavaScript -->
        </tbody>
        
    </table>
</body>
</html>
