<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/script.js"></script>
    <style>

    </style>

    <script>    
        document.addEventListener('DOMContentLoaded', (event) => {
            getUsers()
        });
    </script>
</head>
<body>
    <h2>Lista de Usuários</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <tbody id="userRows">
            <!-- As linhas da tabela serão preenchidas aqui pelo JavaScript -->
        </tbody>
    </table>
    <button onclick="window.location.href='/adicionar'">Adicionar Usuário</button>
</body>
</html>
